.p-about {
  padding: 50px 20px;
  text-align: center;
}

.p-about__slide {
  width: 94%;
  margin: auto;
}

.p-about__slideItem {
  overflow: hidden;
}

.p-about__slideImg {
  width: 100%;
  height: 30vw;
  object-fit: cover;
  &:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
  }
}











