.p-home {
  position: relative;
}

.p-home__slideImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

// #p-home_slider {
//   width: 100%;
//   height: 100vh;
// }

.p-home__text {
  position: absolute;
  top: 50%;
  left: 50%;
}

.p-home__title {
  color: #fff;
  @include mq(u-sp) {
    @include fontSize(24px, 2.4rem);
  }
  @include mq(o-sp) {
    @include fontSize(36px, 3.6rem);
  }
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.p-home__title span {
  opacity: 0;
}

.p-home__title.glow span {
  animation: glowAnimeOn 1s ease-out forwards;
}

@keyframes glowAnimeOn {
  0% { opacity:0; text-shadow: 0 0 0 #fff,0 0 0 #fff;}
	50% { opacity:1;text-shadow: 0 0 10px #fff,0 0 15px #fff; }
	100% { opacity:1; text-shadow: 0 0 0 #fff,0 0 0 #fff;}
}

.p-home__subtitle {
  color: #fff;
  @include mq(u-sp) {
    @include fontSize(18px, 1.8rem);
  }
  @include mq(o-sp) {
    @include fontSize(28px, 2.8rem);
  }
  font-family: 'Times New Roman', Times, serif;
}
