.p-home {
  position: relative;
}

.p-home__img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.p-home__text {
  position: absolute;
  top: 50%;
  left: 50%;
}

.p-home__title {
  color: #000;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.p-home__subtitle {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
