.p-skills {
  padding: 50px 20px;
  text-align: center;
}

.p-skills__chartArea {
  position: relative;
  width: 100%;
  height: 50vh;
}

// .p-skills__text {
//   margin-top: 50px;
//   text-align: center;
//   @include mq(u-sp) {
//     @include fontSize(14px, 1.4rem);
//   }
//   @include mq(o-sp) {
//     @include fontSize(18px, 1.8rem);
//   }
// }